<h1>Initial Home Page for Test Project</h1>

<p>
    Learning project using Spring Boot 3.0 and Spring MVC.
</p>

<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>

    <form action="/new-video" method="POST">
        <label for="name">
            <input type="text" name="name" id="name">
        </label>

        <button type="submit">Submit</button>
    </form>